<div id="sol" style="background-color: gray;height:720; width: 99% float: left; margin-right: 9px; border: 1px solid black;">

	<div style="margin-right:1000px; background-color: red;">
	sol
	</div>
	<div style="margin-right: 500px; margin-left:130px;background-color: red;">
	sol
	</div>
	<div style="background-color: white; width: 500px; float: right; border: 1px solid red;">
	SAG
	</div>
	<div style="clear: right;"></div>	
</div>